---
import SocialButton from "./buttons/SocialButton.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<footer
    class="w-full mx-auto mt-10"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span
            class="flex justify-center text-xs sm:text-center text-gray-200"
            >©2025 > made with ❤️ for <a href="https://www.instagram.com/buendiapo/" target="_blank"><span class="font-bold ml-2">buendiapo</span> ❤️ by <a href="https://github.com/ssanjua" target="_blank"><span class="font-bold ml-2"> ssanjua </span></a>
            
        </span>
        <ul class="flex flex-wrap items-center justify-center mt-3 gap-x-2 sm:mt-0">
            <li>
                <SocialButton href="https://www.instagram.com/buendiapo/">
                    <InstagramIcon class="size-6" />
                </SocialButton>
            </li>
            <li>
                <SocialButton href="https://www.linkedin.com/in/natalia-varela-9bb861232/">
                    <LinkedinIcon class="size-6" />
                </SocialButton>
            </li>
        </ul>
    </div>
</footer>