---
import SocialButton from "./buttons/SocialButton.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<ul class="flex flex-wrap items-center gap-2 text-white">
  <li>
      <SocialButton href="https://www.instagram.com/buendiapo/">
          <InstagramIcon class="size-6" />
      </SocialButton>
  </li>
  <li>
    <SocialButton href="https://www.linkedin.com/in/natalia-varela-9bb861232/">
        <LinkedinIcon class="size-6" />
    </SocialButton>
</li>
</ul>